*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: black;
    height: 10px;
    width: 100%;

}
.body{
    background-color: white;
}
.container{
    margin: 0px auto;
}
.header{
    height: 80px;
    background-color: white;
}
.header ul{
    float: right;
    margin-top: 30px;
}
.header ul li{
    display: inline;
    margin-right: 20px;
}
.header ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.banner img{
    width: 100%;
    padding-bottom: 20PX;
}
.content1{
    width: 30%;
    height: 350px;
    background-color: #F86900;
}
    